.navbar {
  position: relative;
  z-index: 700;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.navbar-2 {
  background-color: transparent;
}

.body {
  font-family: 'Kastelov axiforma', sans-serif;
  color: #46495f;
}

.nav-link {
  overflow: visible;
  margin-bottom: -12px;
  padding-top: 31px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  -o-object-fit: none;
  object-fit: none;
}

.nav-link.accent {
  color: #fc643f;
}

.nav-link.bt-normal {
  margin-left: 15px;
  padding: 12px 33px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 10px;
  color: #000;
}

.nav-link.bt-normal:hover {
  background-color: #939bb4;
  color: #fff;
}

.brand {
  padding-top: 10px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  overflow: hidden;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 169px 92px;
  border-radius: 50px;
  background-color: #f1c964;
  -webkit-transform: translate3d(0px, 0px, 0.001px);
  transform: translate3d(0px, 0px, 0.001px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero.page-title {
  padding-top: 85px;
  padding-bottom: 85px;
}

.heading {
  margin-bottom: 20px;
  color: #939bb4;
  font-size: 52px;
  line-height: 52px;
  font-weight: 900;
}

.heading.centered {
  color: #fff;
  text-align: center;
}

.heading.home {
  padding-bottom: 13px;
  color: #000;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-2 {
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.button {
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 17px 54px;
  border-radius: 10px;
  background-color: #000;
  font-size: 17px;
  cursor: pointer;
}

.button:hover {
  background-color: #46495f;
}

.button.outline-accent {
  border-style: solid;
  border-width: 2px;
  border-color: #fc643f;
  background-color: transparent;
  color: #fc643f;
}

.button.outline-accent:hover {
  background-color: #fc643f;
  color: #fff;
}

.button.form-button {
  display: inline;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.image-2 {
  position: absolute;
  left: -23%;
  top: -75%;
  right: auto;
  bottom: auto;
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

.image-1 {
  position: absolute;
  left: 348px;
  bottom: 337px;
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

.image-3 {
  position: absolute;
  left: 209px;
  bottom: 199px;
}

.image-4 {
  position: absolute;
  left: auto;
  right: -127px;
  bottom: -22px;
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

.image-5 {
  position: absolute;
  left: 77px;
  top: 175px;
}

.image-6 {
  position: absolute;
  left: 125px;
  top: 240px;
  color: #fff;
}

.s50 {
  height: 60px;
}

.intro {
  overflow: hidden;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 213px 92px;
  border-radius: 50px;
  background-color: #f5f6fa;
}

.intro.feature-3 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.image-7 {
  position: absolute;
  left: -114px;
  top: -276px;
}

.image-8 {
  position: absolute;
  left: 158px;
  top: -548px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-9 {
  position: absolute;
  left: 60px;
  top: -42px;
  z-index: 5;
}

.heading-3 {
  color: #939bb4;
  font-size: 34px;
  font-weight: 600;
}

.heading-3.centered {
  padding-right: 229px;
  padding-left: 229px;
  text-align: center;
}

.heading-3.mob {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 700;
}

.description {
  padding-top: 12px;
  padding-right: 7px;
  padding-bottom: 12px;
  font-family: 'Kastelov axiforma book', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.description.centered {
  padding-right: 340px;
  padding-left: 340px;
  text-align: center;
}

.description.left {
  padding-right: 230px;
}

.description.ff {
  margin-bottom: 0px;
  padding-bottom: 11px;
  font-family: 'Kastelov axiforma', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.description.excerpt {
  padding-top: 3px;
}

.feature-1 {
  position: static;
  overflow: hidden;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 165px 92px 242px;
  border-radius: 50px;
  background-color: #fdece8;
}

.container-2 {
  position: relative;
}

.image-10 {
  position: absolute;
  left: -14%;
  top: -56%;
  right: auto;
  bottom: auto;
}

.image-11 {
  position: absolute;
  left: -30px;
  top: 111px;
}

.image-12 {
  position: absolute;
  left: 193px;
  top: 379px;
}

.image-13 {
  position: absolute;
  left: 436px;
  top: 275px;
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

.image-14 {
  position: absolute;
  top: 177px;
  right: 182px;
}

.image-15 {
  position: absolute;
  right: -170px;
  bottom: -42px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-16 {
  position: absolute;
  right: -64px;
  bottom: -260px;
}

.feature-2 {
  margin-top: 66px;
  margin-bottom: 66px;
  -webkit-transform: translate3d(0px, 0px, 0.001px);
  transform: translate3d(0px, 0px, 0.001px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  display: -ms-grid;
  display: grid;
  padding-left: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.column.right {
  display: block;
  padding-left: 0px;
}

.app-feature-item {
  padding: 49px 21px;
  border-radius: 20px;
  background-color: #f5f6fa;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
  cursor: crosshair;
}

.app-feature-item:hover {
  background-color: #bfebf3;
  box-shadow: 0 15px 20px 6px rgba(191, 235, 243, 0.3);
}

.samll {
  padding-top: 27px;
  color: #939bb4;
  font-weight: 600;
}

.image-17 {
  position: absolute;
  left: 83px;
  top: -259px;
}

.image-18 {
  position: absolute;
  top: -142px;
}

.image-19 {
  position: absolute;
  left: -157px;
  top: -69px;
  z-index: 5;
}

.shows-archive {
  display: -ms-grid;
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 47px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.show-item {
  display: block;
  min-height: 400px;
  padding: 40px 30px 27px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.show-item:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.show-item._1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-image: linear-gradient(180deg, transparent, transparent), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
}

.show-category {
  display: inline-block;
  padding: 10px 23px;
  border-radius: 50px;
  background-color: #fff;
  color: #46495f;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}

.item-inner {
  height: 200px;
}

.s20 {
  height: 20px;
}

.div-block-2 {
  border-radius: 30px;
  background-color: #fff;
}

.section {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 170px 0px;
  border-radius: 50px;
  background-color: #939bb4;
}

.download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dicon {
  padding-right: 19px;
  padding-left: 19px;
}

.footer {
  background-image: url('../images/ff.svg');
  background-position: 100% 100%;
  background-size: 742px;
  background-repeat: no-repeat;
}

.link {
  display: block;
  color: #46495f;
  text-decoration: none;
}

.link.flinks {
  padding-bottom: 7px;
}

.container-4 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.credits {
  margin-top: 19px;
  color: #939bb4;
  font-size: 12px;
  font-weight: 300;
}

.title {
  padding-left: 100px;
}

.details {
  padding-right: 332px;
}

.show-banner {
  border-radius: 20px;
}

.voting-form {
  position: static;
  top: 0px;
  padding: 30px 28px;
  border-top: 8px solid #939bb4;
  border-radius: 20px;
  background-color: #fff;
}

.show-details {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 20px;
}

.heading-5 {
  color: #939bb4;
}

.show-excerpts {
  display: -ms-grid;
  display: grid;
  margin-top: 26px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.sub-head {
  color: #939bb4;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph {
  text-decoration: none;
}

.link-block {
  color: #939bb4;
  text-decoration: none;
}

.vote-formhead {
  margin-bottom: 18px;
  padding-top: 0px;
  color: #939bb4;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.select-field {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  background-color: #fff;
  color: #3c3e4d;
  line-height: 28px;
}

.text-field {
  border-radius: 5px;
}

.meta {
  margin-top: 18px;
  margin-bottom: 18px;
  color: #7a7b81;
}

.bold-text {
  color: #46495f;
}

.basic-column {
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  margin-bottom: 50px;
}

.number-card-dollars {
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

.number-card-progress-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tagline {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tagline.number-card-currency {
  color: #fff;
}

.tag-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-right: 5px;
  padding-left: 5px;
}

.divider {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #eee;
}

.style-label {
  color: #bebebe;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.number-card-progress {
  color: #fff;
  text-align: right;
}

.number-card-number {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-weight: 300;
}

.number-card-divider {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 14px;
  background-color: hsla(0, 0%, 100%, 0.15);
}

.number-card {
  padding: 22px 30px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1991eb), to(#1991eb));
  background-image: linear-gradient(180deg, #1991eb, #1991eb);
}

.number-card.number-card-content2 {
  display: block;
  margin-top: 3px;
  margin-bottom: -25px;
  padding-top: 0px;
  padding-bottom: 47px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#17cec4), color-stop(0%, #17cec4), to(#08aeea));
  background-image: linear-gradient(180deg, #17cec4, #17cec4 0%, #08aeea);
  color: #333;
}

.number-card.number-card-content4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8308), to(#fd4f00));
  background-image: linear-gradient(180deg, #ff8308, #fd4f00);
}

.number-card.number-card-content3 {
  background-color: #e02121;
  background-image: linear-gradient(172deg, #0ff, #baffd6 77%, #d3ffff 100%, #efffff 0, #caffd2 0, #000);
  color: #939bb4;
}

.number-card.number-card-content1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7042bf), to(#3023ae));
  background-image: linear-gradient(180deg, #7042bf, #3023ae);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991px) {
  .hero {
    padding-right: 66px;
    padding-left: 66px;
  }
  .image-1 {
    left: -20px;
    bottom: 436px;
  }
  .image-3 {
    bottom: 404px;
  }
  .image-4 {
    right: -46px;
    bottom: -87px;
  }
  .image-5 {
    left: 43px;
  }
  .image-6 {
    left: 90px;
    top: -98px;
  }
  .intro {
    padding-top: 113px;
    padding-bottom: 113px;
  }
  .intro.feature-3.mode-2 {
    padding-right: 13px;
    padding-left: 13px;
  }
  .image-7 {
    left: -87px;
    top: -142px;
  }
  .image-8 {
    left: -16px;
    top: -294px;
  }
  .image-9 {
    left: -35px;
    top: 27px;
  }
  .heading-3.centered {
    padding-right: 0px;
    padding-left: 0px;
  }
  .description.centered {
    padding-right: 55px;
    padding-left: 55px;
  }
  .image-11 {
    left: -180px;
  }
  .image-12 {
    left: -59px;
  }
  .image-13 {
    left: 221px;
  }
  .image-14 {
    top: 243px;
  }
  .image-15 {
    bottom: 269px;
  }
  .image-16 {
    right: 259px;
  }
  .columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 9px;
    margin-left: 9px;
  }
  .column {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .image-17 {
    left: -52px;
  }
  .shows-archive {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .container-5 {
    margin-right: 81px;
    margin-left: 81px;
  }
  .columns-4 {
    display: block;
  }
  .number-card-number {
    font-size: 30px;
  }
  .number-card {
    padding-top: 12px;
    padding-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding-right: 24px;
    padding-bottom: 226px;
    padding-left: 24px;
  }
  .heading {
    margin-top: -36px;
    margin-bottom: -30px;
  }
  .heading.centered {
    padding-right: 38px;
    padding-left: 38px;
  }
  .columns {
    display: block;
  }
  .image-2 {
    left: -71%;
    top: -174%;
  }
  .image-4 {
    right: -108px;
    bottom: -221px;
  }
  .image-6 {
    top: 157px;
  }
  .intro {
    padding-right: 55px;
    padding-left: 55px;
  }
  .image-7 {
    display: none;
    overflow: visible;
  }
  .image-8 {
    display: none;
  }
  .columns-2 {
    display: block;
    margin-top: 2px;
  }
  .image-9 {
    top: -41px;
  }
  .description.left {
    padding-left: 0px;
  }
  .feature-1 {
    padding-right: 39px;
    padding-left: 39px;
  }
  .columns-3 {
    display: block;
    margin-right: 32px;
    margin-left: 32px;
  }
  .column {
    padding-right: 66px;
    padding-left: 66px;
  }
  .left {
    padding-right: 52px;
    padding-left: 52px;
  }
  .image-17 {
    display: none;
  }
  .image-18 {
    display: none;
  }
  .image-19 {
    left: 226px;
    top: -42px;
    bottom: -265px;
    max-width: 49%;
  }
  .section {
    padding-bottom: 119px;
  }
  .download {
    display: block;
    text-align: center;
  }
  .dicon {
    padding-bottom: 20px;
  }
  .container-4 {
    display: block;
  }
  .div-block-3 {
    display: block;
    padding-right: 64px;
    padding-left: 64px;
  }
  .credits {
    padding-right: 59px;
    padding-left: 59px;
  }
  .column-2 {
    margin-top: 328px;
    padding-top: 51px;
  }
  .column-3 {
    padding-right: 70px;
    padding-bottom: 33px;
    padding-left: 70px;
  }
}

@media (max-width: 479px) {
  .navbar-2 {
    padding-right: 0px;
  }
  .nav-link.accent {
    padding-top: 33px;
    padding-bottom: 22px;
  }
  .nav-link.bt-normal {
    margin-top: 19px;
    margin-right: 88px;
    margin-bottom: 24px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .nav-menu {
    background-color: #bfebf3;
  }
  .hero {
    max-width: 90%;
    padding-top: 203px;
    padding-bottom: 118px;
  }
  .heading {
    margin-right: auto;
    margin-left: auto;
  }
  .heading.centered {
    padding-right: 28px;
    padding-left: 28px;
    font-size: 45px;
  }
  .image-2 {
    top: -160%;
    display: none;
  }
  .image-1 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .intro {
    max-width: 90%;
    padding-right: 37px;
    padding-bottom: 54px;
    padding-left: 35px;
  }
  .intro.feature-3 {
    padding-top: 56px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .intro.feature-3.mode-2 {
    padding-right: 7px;
    padding-left: 7px;
  }
  .image-9 {
    left: -19px;
  }
  .heading-3 {
    margin-top: 15px;
    padding-right: 26px;
  }
  .heading-3.mm {
    margin-top: 94px;
  }
  .heading-3.mob {
    padding-right: 106px;
  }
  .description.left {
    padding-right: 48px;
  }
  .feature-1 {
    max-width: 90%;
    padding: 157px 16px 205px;
  }
  .image-14 {
    top: 285px;
  }
  .columns-3 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .column {
    padding-right: 42px;
    padding-left: 42px;
    grid-column-gap: 11px;
  }
  .left {
    padding-right: 26px;
    padding-left: 26px;
  }
  .image-19 {
    left: 13px;
    top: 2px;
    padding-top: 16px;
  }
  .section {
    max-width: 90%;
  }
  .footer {
    background-size: 642px;
  }
  .div-block-3 {
    padding-right: 39px;
    padding-left: 39px;
  }
  .credits {
    padding-right: 163px;
    padding-left: 37px;
  }
  .container-5 {
    margin-right: 28px;
    margin-left: 28px;
  }
  .column-2 {
    margin-top: 206px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-3 {
    padding-right: 41px;
    padding-left: 48px;
  }
  .menu-button {
    background-color: transparent;
  }
  .voting-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .show-details {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'Kastelov axiforma book';
  src: url('../fonts/Kastelov--Axiforma-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma book';
  src: url('../fonts/Kastelov--Axiforma-Book-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Black.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Black-Italic.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-Heavy-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Bold-Italic.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-ExtraBold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Bold.otf') format('opentype'), url('../fonts/Kastelov--Axiforma-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-SemiBold-Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Kastelov axiforma';
  src: url('../fonts/Kastelov--Axiforma-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}